---
import Annuncio from "../components/Annuncio.astro";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Anna & Simo";
---

<Layout pageTitle={pageTitle}>
  <h1 class="text-olivine-500">Anna e Simone sposi</h1>
  <Annuncio />
</Layout>
