---

---

<div
  class="relative flex min-h-screen snap-center
  items-center justify-center overflow-hidden p-10 text-center text-3xl"
>
  <img
    src="/lav-circle.svg"
    class="absolute h-[800px] w-[800px] max-w-[800px] animate-[spin_360s_linear_infinite] lg:h-auto lg:w-auto lg:max-w-[980px]"
  />
  <div
    class="z-30 flex min-w-80 grow flex-col gap-0 p-6 font-display md:max-w-96"
  >
    <p class="">Annunciamo con gioia il nostro matrimonio</p>
    <p class="font-decorative sticky top-0">sabato 6 luglio 2024</p>
    <p class="">ore 16.30</p>
    <p>
      <a
        class="font-decorative cursor-pointer underline hover:decoration-4"
        href="https://maps.app.goo.gl/Df9tQbwkz6o8jdWG6"
        >chiesa di San Giovanni Decollato, Piazzale Gioberti, 5</a
      >
    </p>
    <p class="text-lg">Anna e Simone</p>
  </div>
</div>
