---

---

<div class="flex-col font-display  items-center justify-center p-10 text-center text-5xl">
  <h1>Annunciamo con gioia il nostro matrimonio</h1>
  <p>sabato 6 luglio 2024</p>
  <p>ore 16.30</p>
  <p>
    <a class="underline cursor-pointer" href="https://maps.app.goo.gl/Df9tQbwkz6o8jdWG6"
      >chiesa di San Giovanni Decollato, Piazzale Gioberti, 5</a
    >
  </p>
  <p>Anna e Simone</p>
</div>
