---

---

<div
  class="relative flex min-h-screen items-center
  justify-center overflow-hidden p-10 text-center font-display text-4xl lg:text-6xl"
>
  <img
    src="/lav-circle.svg"
    class="absolute h-[800px] w-[800px] max-w-[800px] animate-[spin_360s_linear_infinite] lg:h-auto lg:w-auto lg:max-w-[1200px]"
  />
  <div class="flex min-w-80 grow flex-col gap-0 p-6 lg:max-w-96">
    <p class="drop-shadow">Annunciamo con gioia il nostro matrimonio</p>
    <p class="drop-shadow">sabato 6 luglio 2024</p>
    <p class="drop-shadow">ore 16.30</p>
    <p>
      <a
        class="cursor-pointer underline drop-shadow hover:decoration-4"
        href="https://maps.app.goo.gl/Df9tQbwkz6o8jdWG6"
        >chiesa di San Giovanni Decollato, Piazzale Gioberti, 5</a
      >
    </p>
    <p class="text-3xl drop-shadow">Anna e Simone</p>
  </div>
</div>
