---

---

<div
  class="lg:bg-lavandaCircle flex min-h-screen items-center justify-center bg-contain bg-center bg-no-repeat bg-origin-border p-10 text-center font-display text-6xl"
>
  <div class="flex min-w-80 grow flex-col gap-4">
    <h1>Annunciamo con gioia il nostro matrimonio</h1>
    <p>sabato 6 luglio 2024</p>
    <p>ore 16.30</p>
    <p>
      <a
        class="cursor-pointer underline hover:decoration-4"
        href="https://maps.app.goo.gl/Df9tQbwkz6o8jdWG6"
        >chiesa di San Giovanni Decollato, Piazzale Gioberti, 5</a
      >
    </p>
    <p class="text-3xl">Anna e Simone</p>
  </div>
</div>
