---

---

<div
  class="container relative mx-auto flex min-h-screen
  items-center justify-center overflow-hidden p-10 text-center text-3xl"
>
  <div class="flex min-w-80 grow flex-col gap-0 p-6 font-display md:max-w-96">
    <p class="">Annunciamo con gioia il nostro matrimonio</p>
    <p class="sticky top-0 font-decorative">sabato 6 luglio 2024</p>
    <p class="">ore 16.30</p>
    <p>
      <a
        class="cursor-pointer font-decorative underline hover:decoration-4"
        href="https://maps.app.goo.gl/Df9tQbwkz6o8jdWG6"
        >chiesa di San Giovanni Decollato, Piazzale Gioberti, 5</a
      >
    </p>
    <p class="text-lg">Anna e Simone</p>
  </div>
  <img src="/decor.png" class="absolute bottom-2 left-0 h-1/3 lg:h-1/2" />
  <img
    src="/decor.png"
    class="-scale-x-1 absolute bottom-2 right-0 h-1/3 lg:h-1/2"
  />
</div>
