---
const { title, srcImage, text } = Astro.props;
import Title from "./Title.astro";
---

<div class="flex flex-col items-center justify-center gap-2 py-24 lg:max-w-64">
  <Title title={title} class="self-start" />
  <img
    src={srcImage}
    class="max-w-64 rounded-full object-fill shadow-lg shadow-buttermilk-700"
  />
  <slot />
</div>
