---
const { title, srcImage, text } = Astro.props;
import Title from "./Title.astro";
---

<div class="flex flex-col items-center justify-center gap-2 lg:max-w-64">
  <img
    src={srcImage}
    class="shadow-lavnda-300 max-w-64 rounded-full object-fill shadow-lg"
  />
  <Title title={title} class="self-start" />
  <slot />
</div>
