---
import FlowerNode from "./decors/FlowerNode.astro";

const year = new Date().getFullYear();
---

<footer class="flex flex-col items-center justify-end pb-2 text-xs">
  <p class="hover:underline">
    <a href="https://github.com/Guybrush21">
      made with <span class="hover:animate-ping hover:cursor-pointer">♥</span> by
      nic</a
    >
  </p>
  <p class="hover:underline">
    design by <a href="https://www.duelimone.com/"
      >due✹limone◖◖ — design studio</a
    >
  </p>
</footer>
