---
import FlowerNode from "./decors/FlowerNode.astro";

const year = new Date().getFullYear();
---

<footer class="flex flex-col items-center justify-end p-10">
  <p>
    <a href="https://github.com/Guybrush21">
      made with <span class="hover:animate-ping hover:cursor-pointer">♥</span> by
      nic</a
    >
  </p>
</footer>
