---
import FlowerNode from "./decors/FlowerNode.astro";
---

<header
  class="flex h-[33dvh] w-screen items-end justify-center bg-buttermilk-200 bg-annaesimo bg-contain bg-fixed bg-top md:bg-cover lg:h-screen"
>
  <div>
    <h1 class="font-serif text-4xl text-white">Anna & Simone</h1>
    <div class="max-md:hidden">
      <FlowerNode />
    </div>
  </div>
</header>
