---

---

<header
  class="flex h-[33dvh] tems-center justify-center bg-buttermilk-200 bg-annaesimo bg-contain bg-fixed bg-top saturate-[.7] md:bg-cover lg:h-screen"
>
  <div class="flex flex-col items-center justify-center">
    <h1
      class="text-center sticky font-decorative font-bolder text-5xl bg-gradient-to-b to-buttermilk-300 from-buttermilk-100 bg-clip-text text-transparent lg:text-8xl"
    >
      Anna e Simone
    </h1>
  </div>
</header>
