---

---

<header
  class="bg-olivine-200 bg-fixed md:bg-cover bg-top bg-contain h-[33dvh] lg:h-screen w-screen bg-annaesimo flex items-end justify-center"
>
  <div>
    <h1 class="text-4xl text-white font-serif">Anna & Simone</h1>
    <object data="/flower-node.svg"></object>
  </div>
</header>
