---

---

<header
  class="flex h-[33dvh] w-screen items-center justify-center bg-buttermilk-200 bg-annaesimo bg-contain bg-fixed bg-top md:bg-cover lg:h-screen"
>
  <div class="flex flex-col items-center justify-center">
    <h1
      class="text-center font-display text-5xl text-buttermilk-200 lg:text-8xl"
    >
      Anna e Simone
    </h1>
    <!-- <FlowerNode class="h-16 fill-buttermilk-100 opacity-40 lg:h-40" /> -->
  </div>
</header>
