---
import Card from "./Card.astro";
import FlowerDivisor from "./decors/FlowerDivisor.astro";
import FlowerAngle from "./decors/FlowerAngle.astro";
import Regalo from "./Regalo.astro";
---

<div
  class="flex min-h-screen flex-col items-center justify-center gap-2 bg-gradient-to-b from-buttermilk-50 to-buttermilk-200 p-10"
>
  <div class="flex flex-col items-center justify-center">
    <h3 class="text-4xl">Lista nozze</h3>
    <div class="relative">
      <FlowerAngle
        class="absolute left-0 top-0 ml-[-2rem] mt-[-6rem] h-32 w-32 rotate-180 fill-buttermilk-400 lg:ml-[-10rem] lg:h-64 lg:w-64"
      />
      <div class="flex flex-col justify-around gap-3 md:flex-row lg:gap-x-48">
        <Card title="In Viaggio" srcImage="/viaggio-sq.png">
          <p>andremo di qua e di la</p><p>e anche un po di li</p>
        </Card>
        <Card title="A casa" srcImage="/acasa.jpg">
          <p>ci servirebbe un po' di questo e di quello</p>
        </Card>
        <FlowerAngle
          class="absolute bottom-0 right-0 mb-[-6rem] mr-[-2rem] h-32 w-32 fill-buttermilk-400 lg:mr-[-10rem] lg:h-64 lg:w-64"
        />
      </div>
    </div>
    <div class="mt-16">
      <Regalo />
    </div>
  </div>
</div>
