---

---

<div
  class="lg:p40 flex min-h-screen flex-col items-center justify-center gap-4 p-10 text-center text-3xl text-buttermilk-200"
>
  <p>
    Insomma, se tutto vi piace e volete contribuire, potete farlo tramite
    bonifico bancario al seguente IBAN:
  </p>
  <p class="select-all rounded p-2 font-mono text-3xl ring-2 ring-lavanda-400">
    ITH031X000000000000
  </p>
  <p class="mt-8 font-extrabold uppercase">Grazie di cuore!</p>
  <p class="animate-pulse text-9xl">♥</p>
</div>
