---

---

<div
  class="lg:p40 flex min-h-screen flex-col items-center justify-center gap-4 p-10 text-2xl"
>
  <p>
    Insomma, se tutto vi piace e volete contribuire, potete farlo tramite
    bonifico bancario al seguente IBAN:
  </p>
  <p class="font-mono text-3xl">ITH031X000000000000</p>
  <p class="mt-8 font-extrabold uppercase">Grazie di cuore!</p>
  <p class="animate-pulse text-9xl">♥</p>
</div>
