---

---

<div
  class="lg:p40 container mx-auto flex min-h-screen flex-col items-center justify-center gap-4 p-10 text-center text-3xl"
>
  <p>
    Se avete piacere di partecipare anche con un dono, potete contribuire
    tramite bonifico bancario al seguente IBAN:
  </p>
  <p class="rounded border-2 border-lavanda-400 p-2 font-mono text-2xl">
    <span class="cursor-pointer select-all">ITH031X000000000001</span>
  </p>
  <p class="mt-8 font-extrabold uppercase">Grazie di cuore!</p>
  <div class="relative flex justify-center">
    <p
      class="absolute top-0 animate-[ping_3s_ease-in-out_infinite] font-display text-9xl text-buttermilk-100 opacity-70"
    >
      ♥
    </p>
    <p class="absolute top-0 font-display text-9xl text-lavanda-700">♥</p>
  </div>
</div>
