---

---

<div
  class="flex min-h-screen flex-col items-center justify-center gap-4 text-2xl"
>
  <p>
    Siamo felici di condividere con voi il nostro giorno speciale. Se desiderate
    onorarci con un dono, vi invitiamo gentilmente a contribuire alla nostra
    lista nozze tramite bonifico bancario all'IBAN seguente:
  </p>
  <p class="font-mono text-3xl">ITH031X000000000000</p>
  <p>
    Il vostro amore e sostegno sono il regalo più prezioso che potremmo ricevere
    in questo momento magico delle nostre vite.
  </p>
</div>
