---
const { title } = Astro.props;

const { class: className, ...rest } = Astro.props;
---

<h3 {...rest} class=`${className} relative mb-4 block font-display text-3xl`>
  {title}
  <img
    src="/decor-2.png"
    class="absolute -top-20 left-24 -z-10 hidden w-12 rotate-90"
  />
</h3>
