---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FlowerNode from "../components/decors/FlowerNode.astro";
const { pageTitle } = Astro.props;
---

<!doctype html>
<html transition:animate="none" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Rubik+Vinyl&family=VT323&display=swap"
      rel="stylesheet"
    />
    <style is:global>
      @font-face {
        font-family: "FreestyleScript";
        src: url("/public/fonts/FreestyleScript.ttf") format("truetype");
      }
    </style>
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body class="flex flex-col font-sans text-buttermilk-700">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
